body {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto',Georgia,Arial,sans-serif;
    color: #333333;
    padding: 50px;
    margin: 0;
    background-color: #eef0f2;
}

.wrapper{
    border-radius: 3px;
    background-color: #FFFFFF;
    width: 875px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: table;
}

.main {
    position: relative;
    margin: 1.5rem 0.7rem;
}
.main h1 {
    font-size: 36px;
    line-height: 1.42857143;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main h1 > img {
    max-width: 0.8em;
}

.container {
    padding: 30px 60px 48px 60px;
    border-radius: 6px;
    margin-bottom: 30px;
    background-color: #eeeeee;
}

.loginView input {
    width: 13em;
    color: #828282;
    padding: 0.45em 1em 0.55em;
    background: #FFFFFF;
    line-height: 1.25;

    border: 1px solid #9b9b9b;
    box-shadow: inset 0px 0px 1px 0px #9b9b9b, 0px 0px 1px 0px #9b9b9b;
    border-radius: 4px;

    font-family: inherit;
    font-size: 1em;

    outline: none;
    transition: .18s ease-out;
}
.loginView input:hover {
    border: 1px solid #a5a5a5;
    box-shadow: inset 0px 0px 3px 0px #9b9b9b, 0px 0px 1px 0px #9b9b9b;
}
.loginView input:focus {
    color: #333333;
    border: 1px solid #1E90FF;
    box-shadow: inset 0px 0px 1px 0px #9b9b9b, 0px 0px 1px 0px #9b9b9b;
}

.consoleView textarea {
    width: 97%;
    height: 15em;
}

.alert {
    border-radius: 6px;
    padding: 5px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 5px;
}

.alert p {
    margin-right: 15px;
    margin-left: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.closebtn:hover {
    color: black;
}